.container {
  background-color: #fff;
  border-radius: 20px;
  width: 70%;
}

.header {
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}